// Code generated by Fern. DO NOT EDIT.

package credentials

import (
	context "context"
	http "net/http"
	os "os"

	basistheory "github.com/Basis-Theory/go-sdk/v7"
	allowances "github.com/Basis-Theory/go-sdk/v7/agentic/allowances"
	core "github.com/Basis-Theory/go-sdk/v7/core"
	internal "github.com/Basis-Theory/go-sdk/v7/internal"
	option "github.com/Basis-Theory/go-sdk/v7/option"
)

type Client struct {
	WithRawResponse *RawClient

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	if options.APIKey == "" {
		options.APIKey = os.Getenv("BT-API-KEY")
	}
	return &Client{
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// List credential metadata for an allowance. Responses contain metadata only — never card numbers, SPT values, or MPP payloads.
func (c *Client) List(
	ctx context.Context,
	allowanceID string,
	request *allowances.CredentialsListRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *basistheory.PaymentCredentialMetadata, *basistheory.PaymentCredentialList], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.basistheory.com",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/agentic/allowances/%v/credentials",
		allowanceID,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("start", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(basistheory.ErrorCodes),
		}
	}
	readPageResponse := func(response *basistheory.PaymentCredentialList) *core.PageResponse[*string, *basistheory.PaymentCredentialMetadata, *basistheory.PaymentCredentialList] {
		var zeroValue *string
		var next *string
		if response.Pagination != nil {
			next = response.Pagination.Next
		}
		results := response.GetData()
		return &core.PageResponse[*string, *basistheory.PaymentCredentialMetadata, *basistheory.PaymentCredentialList]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue,
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Start)
}

// Create a spend credential from an allowance. Supply BT-IDEMPOTENCY-KEY for retry protection. Without it, every request is a new mint and may spend the allowance again.
func (c *Client) Create(
	ctx context.Context,
	allowanceID string,
	request *allowances.CreatePaymentCredentialRequest,
	opts ...option.RequestOption,
) (*basistheory.PaymentCredential, error) {
	response, err := c.WithRawResponse.Create(
		ctx,
		allowanceID,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Get credential metadata. The credential payload itself (card number, SPT, MPP token) is only ever returned by the create call.
func (c *Client) Get(
	ctx context.Context,
	allowanceID string,
	credentialID string,
	opts ...option.RequestOption,
) (*basistheory.PaymentCredentialMetadata, error) {
	response, err := c.WithRawResponse.Get(
		ctx,
		allowanceID,
		credentialID,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
