// Code generated by Fern. DO NOT EDIT.

package client

import (
	context "context"
	http "net/http"
	os "os"

	basistheory "github.com/Basis-Theory/go-sdk/v7"
	agentic "github.com/Basis-Theory/go-sdk/v7/agentic"
	credentials "github.com/Basis-Theory/go-sdk/v7/agentic/allowances/credentials"
	rails "github.com/Basis-Theory/go-sdk/v7/agentic/allowances/rails"
	core "github.com/Basis-Theory/go-sdk/v7/core"
	internal "github.com/Basis-Theory/go-sdk/v7/internal"
	option "github.com/Basis-Theory/go-sdk/v7/option"
)

type Client struct {
	WithRawResponse *RawClient
	Rails           *rails.Client
	Credentials     *credentials.Client

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	if options.APIKey == "" {
		options.APIKey = os.Getenv("BT-API-KEY")
	}
	return &Client{
		Rails:           rails.NewClient(options),
		Credentials:     credentials.NewClient(options),
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// Lists allowances for the current tenant. Defaults to active, unexpired resources; use `status=all` for a complete Portal history. Results can be scoped to one payment method, and server-side page filling prevents sparse pages when filtering by status.
func (c *Client) List(
	ctx context.Context,
	request *agentic.AllowancesListRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *basistheory.Allowance, *basistheory.AllowanceList], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.basistheory.com",
	)
	endpointURL := baseURL + "/agentic/allowances"
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("start", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(basistheory.ErrorCodes),
		}
	}
	readPageResponse := func(response *basistheory.AllowanceList) *core.PageResponse[*string, *basistheory.Allowance, *basistheory.AllowanceList] {
		var zeroValue *string
		var next *string
		if response.Pagination != nil {
			next = response.Pagination.Next
		}
		results := response.GetData()
		return &core.PageResponse[*string, *basistheory.Allowance, *basistheory.AllowanceList]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue,
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Start)
}

// Create a spending allowance from a payment method. Supply `merchant` to scope the mandate to one merchant, or omit it to leave the allowance open and name a merchant on each credential request instead. The payment method must have at least one enabled rail; otherwise the request returns `NO_ACTIVE_RAILS`.
func (c *Client) Create(
	ctx context.Context,
	request *agentic.CreateAllowanceRequest,
	opts ...option.RequestOption,
) (*basistheory.Allowance, error) {
	response, err := c.WithRawResponse.Create(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

func (c *Client) Get(
	ctx context.Context,
	allowanceID string,
	opts ...option.RequestOption,
) (*basistheory.Allowance, error) {
	response, err := c.WithRawResponse.Get(
		ctx,
		allowanceID,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Cancel an allowance so new credentials cannot be created from it. Network-side purchase instructions held by its rails are cancelled with the provider.
func (c *Client) Delete(
	ctx context.Context,
	allowanceID string,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.Delete(
		ctx,
		allowanceID,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// Updates one or more mutable fields by changing the provider-side mandate first, then committing the same amount, prompt, and expiry locally. Mints are blocked while the update is in flight, and an empty request body is rejected.
func (c *Client) Update(
	ctx context.Context,
	allowanceID string,
	request *agentic.AllowancesUpdateRequest,
	opts ...option.RequestOption,
) (*basistheory.Allowance, error) {
	response, err := c.WithRawResponse.Update(
		ctx,
		allowanceID,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Lists sanitized provider failures for an allowance, including failed verification and credential attempts. Raw provider bodies and card data are never returned.
func (c *Client) Errors(
	ctx context.Context,
	allowanceID string,
	request *agentic.AllowancesErrorsRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *basistheory.SharedPaymentProviderError, *basistheory.SharedPaymentProviderErrorList], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.basistheory.com",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/agentic/allowances/%v/errors",
		allowanceID,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("start", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(basistheory.ErrorCodes),
		}
	}
	readPageResponse := func(response *basistheory.SharedPaymentProviderErrorList) *core.PageResponse[*string, *basistheory.SharedPaymentProviderError, *basistheory.SharedPaymentProviderErrorList] {
		var zeroValue *string
		var next *string
		if response.Pagination != nil {
			next = response.Pagination.Next
		}
		results := response.GetData()
		return &core.PageResponse[*string, *basistheory.SharedPaymentProviderError, *basistheory.SharedPaymentProviderErrorList]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue,
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Start)
}

// Start or continue self-served verification for a rail that requires it. Public and private applications may call this operation with `agentic:allowance:verify`; browser clients should use a public application key. Visa verification is advanced through explicit ceremony actions. Mastercard managed authentication is finalized with `complete` after the hosted ceremony; callback delivery is only a browser signal and is not required.
func (c *Client) Verify(
	ctx context.Context,
	allowanceID string,
	request *basistheory.VerifyAllowanceRequest,
	opts ...option.RequestOption,
) (*basistheory.AllowanceVerificationResponse, error) {
	response, err := c.WithRawResponse.Verify(
		ctx,
		allowanceID,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
