// Code generated by Fern. DO NOT EDIT.

package client

import (
	context "context"
	http "net/http"
	os "os"

	basistheory "github.com/Basis-Theory/go-sdk/v7"
	agentic "github.com/Basis-Theory/go-sdk/v7/agentic"
	rails "github.com/Basis-Theory/go-sdk/v7/agentic/paymentmethods/rails"
	core "github.com/Basis-Theory/go-sdk/v7/core"
	internal "github.com/Basis-Theory/go-sdk/v7/internal"
	option "github.com/Basis-Theory/go-sdk/v7/option"
)

type Client struct {
	WithRawResponse *RawClient
	Rails           *rails.Client

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	if options.APIKey == "" {
		options.APIKey = os.Getenv("BT-API-KEY")
	}
	return &Client{
		Rails:           rails.NewClient(options),
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// Lists shared payment methods for the current tenant. Defaults to active resources; use `status=all` for a complete Portal history. Server-side page filling prevents sparse pages when filtering by status.
func (c *Client) List(
	ctx context.Context,
	request *agentic.PaymentMethodsListRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *basistheory.PaymentMethod, *basistheory.PaymentMethodList], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.basistheory.com",
	)
	endpointURL := baseURL + "/agentic/payment-methods"
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("start", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(basistheory.ErrorCodes),
		}
	}
	readPageResponse := func(response *basistheory.PaymentMethodList) *core.PageResponse[*string, *basistheory.PaymentMethod, *basistheory.PaymentMethodList] {
		var zeroValue *string
		var next *string
		if response.Pagination != nil {
			next = response.Pagination.Next
		}
		results := response.GetData()
		return &core.PageResponse[*string, *basistheory.PaymentMethod, *basistheory.PaymentMethodList]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue,
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Start)
}

// Create a shared payment method from a funding source — a Basis Theory card token, or an instrument reached through a source connection — and provision the rails that source is eligible for. Public and private applications may call this operation with `agentic:payment-method:create`. Supply BT-IDEMPOTENCY-KEY to make matching retries return the same resource. Without it, every request is a new create operation.
func (c *Client) Create(
	ctx context.Context,
	request *agentic.CreatePaymentMethodRequest,
	opts ...option.RequestOption,
) (*basistheory.PaymentMethod, error) {
	response, err := c.WithRawResponse.Create(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

func (c *Client) Get(
	ctx context.Context,
	paymentMethodID string,
	opts ...option.RequestOption,
) (*basistheory.PaymentMethod, error) {
	response, err := c.WithRawResponse.Get(
		ctx,
		paymentMethodID,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Delete a payment method and revoke everything downstream - every allowance backed by it is cancelled (including network-side purchase instructions) and no further verification or credential minting is possible.
func (c *Client) Delete(
	ctx context.Context,
	paymentMethodID string,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.Delete(
		ctx,
		paymentMethodID,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// Lists sanitized provider failures for a payment method and its downstream operations. Raw provider bodies and card data are never returned.
func (c *Client) Errors(
	ctx context.Context,
	paymentMethodID string,
	request *agentic.PaymentMethodsErrorsRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *basistheory.SharedPaymentProviderError, *basistheory.SharedPaymentProviderErrorList], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.basistheory.com",
	)
	endpointURL := internal.EncodeURL(
		baseURL+"/agentic/payment-methods/%v/errors",
		paymentMethodID,
	)
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("start", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(basistheory.ErrorCodes),
		}
	}
	readPageResponse := func(response *basistheory.SharedPaymentProviderErrorList) *core.PageResponse[*string, *basistheory.SharedPaymentProviderError, *basistheory.SharedPaymentProviderErrorList] {
		var zeroValue *string
		var next *string
		if response.Pagination != nil {
			next = response.Pagination.Next
		}
		results := response.GetData()
		return &core.PageResponse[*string, *basistheory.SharedPaymentProviderError, *basistheory.SharedPaymentProviderErrorList]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue,
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Start)
}
