// Code generated by Fern. DO NOT EDIT.

package client

import (
	context "context"
	http "net/http"
	os "os"

	basistheory "github.com/Basis-Theory/go-sdk/v6"
	agentic "github.com/Basis-Theory/go-sdk/v6/agentic"
	verify "github.com/Basis-Theory/go-sdk/v6/agentic/enrollments/verify"
	core "github.com/Basis-Theory/go-sdk/v6/core"
	internal "github.com/Basis-Theory/go-sdk/v6/internal"
	option "github.com/Basis-Theory/go-sdk/v6/option"
)

type Client struct {
	WithRawResponse *RawClient
	Verify          *verify.Client

	options *core.RequestOptions
	baseURL string
	caller  *internal.Caller
}

func NewClient(options *core.RequestOptions) *Client {
	if options.APIKey == "" {
		options.APIKey = os.Getenv("BT-API-KEY")
	}
	return &Client{
		Verify:          verify.NewClient(options),
		WithRawResponse: NewRawClient(options),
		options:         options,
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:         options.HTTPClient,
				MaxAttempts:    options.MaxAttempts,
				DisableRetries: options.DisableRetries,
			},
		),
	}
}

// List all enrollments for the current tenant with cursor-based pagination.
func (c *Client) List(
	ctx context.Context,
	request *agentic.EnrollmentsListRequest,
	opts ...option.RequestOption,
) (*core.Page[*string, *basistheory.Enrollment, *basistheory.EnrollmentList], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.basistheory.com",
	)
	endpointURL := baseURL + "/agentic/enrollments"
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.options.ToHeader(),
		options.ToHeader(),
	)
	prepareCall := func(pageRequest *core.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			DisableRetries:  options.DisableRetries,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(basistheory.ErrorCodes),
		}
	}
	readPageResponse := func(response *basistheory.EnrollmentList) *core.PageResponse[*string, *basistheory.Enrollment, *basistheory.EnrollmentList] {
		var zeroValue *string
		var next *string
		if response.Pagination != nil {
			next = response.Pagination.NextCursor
		}
		results := response.GetData()
		return &core.PageResponse[*string, *basistheory.Enrollment, *basistheory.EnrollmentList]{
			Results:  results,
			Response: response,
			Next:     next,
			Done:     next == zeroValue,
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}

// Enroll a card token with a card network (Visa or Mastercard).
func (c *Client) Create(
	ctx context.Context,
	request *agentic.CreateEnrollmentRequest,
	opts ...option.RequestOption,
) (*basistheory.Enrollment, error) {
	response, err := c.WithRawResponse.Create(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

func (c *Client) Get(
	ctx context.Context,
	enrollmentID string,
	opts ...option.RequestOption,
) (*basistheory.Enrollment, error) {
	response, err := c.WithRawResponse.Get(
		ctx,
		enrollmentID,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Soft-deletes the enrollment by marking its status as deleted.
func (c *Client) Delete(
	ctx context.Context,
	enrollmentID string,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.Delete(
		ctx,
		enrollmentID,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// Retry enrolling a card that previously failed. Only failed enrollments can be retried.
func (c *Client) Retry(
	ctx context.Context,
	enrollmentID string,
	opts ...option.RequestOption,
) (*basistheory.Enrollment, error) {
	response, err := c.WithRawResponse.Retry(
		ctx,
		enrollmentID,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
