// Code generated by Fern. DO NOT EDIT.

package client

import (
	context "context"
	v5 "github.com/Basis-Theory/go-sdk/v5"
	agentic "github.com/Basis-Theory/go-sdk/v5/agentic"
	verify "github.com/Basis-Theory/go-sdk/v5/agentic/enrollments/verify"
	core "github.com/Basis-Theory/go-sdk/v5/core"
	internal "github.com/Basis-Theory/go-sdk/v5/internal"
	option "github.com/Basis-Theory/go-sdk/v5/option"
	http "net/http"
	os "os"
)

type Client struct {
	WithRawResponse *RawClient
	Verify          *verify.Client

	baseURL string
	caller  *internal.Caller
	header  http.Header
}

func NewClient(opts ...option.RequestOption) *Client {
	options := core.NewRequestOptions(opts...)
	if options.APIKey == "" {
		options.APIKey = os.Getenv("BT-API-KEY")
	}
	return &Client{
		Verify:          verify.NewClient(opts...),
		WithRawResponse: NewRawClient(options),
		baseURL:         options.BaseURL,
		caller: internal.NewCaller(
			&internal.CallerParams{
				Client:      options.HTTPClient,
				MaxAttempts: options.MaxAttempts,
			},
		),
		header: options.ToHeader(),
	}
}

// List all enrollments for the current tenant with cursor-based pagination.
func (c *Client) List(
	ctx context.Context,
	request *agentic.EnrollmentsListRequest,
	opts ...option.RequestOption,
) (*core.Page[*v5.Enrollment], error) {
	options := core.NewRequestOptions(opts...)
	baseURL := internal.ResolveBaseURL(
		options.BaseURL,
		c.baseURL,
		"https://api.basistheory.com",
	)
	endpointURL := baseURL + "/agentic/enrollments"
	queryParams, err := internal.QueryValues(request)
	if err != nil {
		return nil, err
	}
	headers := internal.MergeHeaders(
		c.header.Clone(),
		options.ToHeader(),
	)
	errorCodes := internal.ErrorCodes{
		401: func(apiError *core.APIError) error {
			return &v5.UnauthorizedError{
				APIError: apiError,
			}
		},
		403: func(apiError *core.APIError) error {
			return &v5.ForbiddenError{
				APIError: apiError,
			}
		},
		500: func(apiError *core.APIError) error {
			return &v5.InternalServerError{
				APIError: apiError,
			}
		},
	}
	prepareCall := func(pageRequest *internal.PageRequest[*string]) *internal.CallParams {
		if pageRequest.Cursor != nil {
			queryParams.Set("cursor", *pageRequest.Cursor)
		}
		nextURL := endpointURL
		if len(queryParams) > 0 {
			nextURL += "?" + queryParams.Encode()
		}
		return &internal.CallParams{
			URL:             nextURL,
			Method:          http.MethodGet,
			Headers:         headers,
			MaxAttempts:     options.MaxAttempts,
			BodyProperties:  options.BodyProperties,
			QueryParameters: options.QueryParameters,
			Client:          options.HTTPClient,
			Response:        pageRequest.Response,
			ErrorDecoder:    internal.NewErrorDecoder(errorCodes),
		}
	}
	readPageResponse := func(response *v5.EnrollmentList) *internal.PageResponse[*string, *v5.Enrollment] {
		var zeroValue *string
		var next *string
		if response.Pagination != nil {
			next = response.Pagination.NextCursor
		}
		results := response.GetData()
		return &internal.PageResponse[*string, *v5.Enrollment]{
			Next:    next,
			Results: results,
			Done:    next == zeroValue,
		}
	}
	pager := internal.NewCursorPager(
		c.caller,
		prepareCall,
		readPageResponse,
	)
	return pager.GetPage(ctx, request.Cursor)
}

// Enroll a card token with a card network (Visa or Mastercard).
func (c *Client) Create(
	ctx context.Context,
	request *agentic.CreateEnrollmentRequest,
	opts ...option.RequestOption,
) (*v5.Enrollment, error) {
	response, err := c.WithRawResponse.Create(
		ctx,
		request,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

func (c *Client) Get(
	ctx context.Context,
	enrollmentID string,
	opts ...option.RequestOption,
) (*v5.Enrollment, error) {
	response, err := c.WithRawResponse.Get(
		ctx,
		enrollmentID,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}

// Soft-deletes the enrollment by marking its status as deleted.
func (c *Client) Delete(
	ctx context.Context,
	enrollmentID string,
	opts ...option.RequestOption,
) error {
	_, err := c.WithRawResponse.Delete(
		ctx,
		enrollmentID,
		opts...,
	)
	if err != nil {
		return err
	}
	return nil
}

// Retry enrolling a card that previously failed. Only failed enrollments can be retried.
func (c *Client) Retry(
	ctx context.Context,
	enrollmentID string,
	opts ...option.RequestOption,
) (*v5.Enrollment, error) {
	response, err := c.WithRawResponse.Retry(
		ctx,
		enrollmentID,
		opts...,
	)
	if err != nil {
		return nil, err
	}
	return response.Body, nil
}
